{% load static %}

<div class="subraddot-card">
    <div class="subraddot-icon">
        {% if subraddot.icon %}
            <img src="{{ subraddot.icon.url }}" alt="{{ subraddot.name }} icon">
        {% else %}
            <div class="default-icon">r/{{ subraddot.name|slice:":1" }}</div>
        {% endif %}
    </div>

    <div class="subraddot-info">
        <h3 class="subraddot-name">r/{{ subraddot.name }}</h3>
        <p class="subraddot-description">{{ subraddot.description|truncatechars:100 }}</p>
        <p class="subraddot-members">{{ subraddot.members.count }} membres</p>
    </div>

    <div class="subraddot-actions">
        {% if request.user == subraddot.creator %}
            <a href="{% url 'social_app:update_subraddot' name=subraddot.name %}" class="btn btn-edit">Modifier</a>
        {% elif request.user in subraddot.members.all %}
            <form method="post" action="{% url 'social_app:leave_subraddot' name=subraddot.name %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-leave">Quitter</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'social_app:join_subraddot' name=subraddot.name %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-join">Rejoindre</button>
            </form>
        {% endif %}
        <a href="{% url 'social_app:subraddot_home' name=subraddot.name %}" class="btn btn-visit">Visiter</a>
    </div>
</div>
