{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div>
        <h2>Inscription</h2>

        {% if messages %}
        {% for message in messages %}
        <div class="alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Première rangée: Email et Username -->
            <div>
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div>{{ form.email.errors.0 }}</div>
                    {% endif %}
                </div>

                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                    <div>{{ form.username.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <!-- Deuxième rangée: Prénom et Nom -->
            <div>
                <div>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div>{{ form.first_name.errors.0 }}</div>
                    {% endif %}
                </div>

                <div>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div>{{ form.last_name.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div>
                <div>
                    {{ form.birthdate.label_tag }}
                    {{ form.birthdate }}
                    {% if form.birthdate.errors %}
                    <div>{{ form.birthdate.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <!-- 4eme rangée: Mot de passe et Confirmation -->
            <div>
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <div>{{ form.password.errors.0 }}</div>
                    {% endif %}
                </div>

                <div>
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                    <div>{{ form.confirm_password.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <button type="submit">S'inscrire</button>
        </form>

        <div>
            Vous avez déjà un compte ? <a href="{% url 'user_manager:login' %}">Connectez-vous</a>
        </div>
    </div>
</div>
{% endblock %}
