{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <link rel="stylesheet" href="{% static 'post_list.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if has_joined_subraddot %}
            <h2 class="page-title">Fil d'actualité</h2>
            {% include 'social_app/components/post_list.html' with posts=posts %}
        {% else %}
            <div>
                <div>
                    <h3>C'est bien vide par ici...</h3>
                    <p>Vous n'êtes abonné à aucun subraddot et vous n'en avez créé aucun.
                        Commencez par créer votre propre subraddot ou rejoindre des subraddots
                        existantes.</p>
                    <div>
                        <a href="{% url 'social_app:subraddot_create' %}">Créer
                            un subraddot</a>
                        <a href="{% url 'social_app:discover_subraddots' %}"
                           >Découvrir des subraddot</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
