{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'subraddots.css' %}">
    <div class="discover-container">
        <h1 class="page-title">Mes communautés</h1>

        {% if subraddots %}
            <div class="subraddot-list">
                {% for subraddot in subraddots %}
                    <div class="subraddot-card">
                        <div class="subraddot-icon">
                            {% if subraddot.icon %}
                                <img src="{{ subraddot.icon.url }}" alt="{{ subraddot.name }}">
                            {% else %}
                                {{ subraddot.name.0|upper }}
                            {% endif %}
                        </div>
                        <div class="subraddot-content">
                            <div>
                                <h2 class="subraddot-name">r/{{ subraddot.name }}</h2>
                                <p class="subraddot-description">{{ subraddot.description }}</p>
                            </div>
                            <div class="subraddot-info">
                            <span class="subraddot-members">
                                Créé le {{ subraddot.created_at|date:"d/m/Y" }}
                            </span>
                                <div class="subraddot-actions">
                                    <a href="{% url 'social_app:subraddot_detail' name=subraddot.name %}"
                                       class="view-button">Voir</a>
                                    <a href="{% url 'social_app:update_subraddot' name=subraddot.name %}"
                                       class="edit-button">Modifier</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="empty-state">
                <h3>Vous n'avez créé aucune communauté</h3>
                <p>Créez votre première communauté pour commencer à partager du contenu!</p>
                <a href="{% url 'social_app:create_subraddot' %}" class="action-button primary-btn">Créer une
                    communauté</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
