{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raddot - {% block title %}Partagez et discutez{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'toaster.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "header.html" %}
    {% if messages %}
        {% for message in messages %}
            <div class="{% if message.tags == 'error' %}error-message{% else %}success-message{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <main class="content-container">
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>